.message-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-color);
}
.message-sneak {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 12px 4px #00000036;
  height: 90vh;
}
.message-previews,
.message-previews div {
  background-color: transparent;
}

.message-previews:hover {
  background-color: #00000017;
  cursor: pointer;
}
.people-message {
  position: relative;
  top: 0;
  overflow-y: scroll;
  background-color: transparent;
}
.message-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.192);
  max-height: 90vh;
  position: relative;
  top: 0;
  overflow-y: scroll;
}
.sender-detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  position: sticky;
  top: 0;
}
.received-message {
  width: 95%;
  text-align: left;
  background-color: transparent;
}
.received-message p,
.sent-message p {
  margin: 0;
  padding: 0.5rem;
  box-shadow: 0px 0px 12px 0px #00000057;
  border-radius: 0.7rem;
  display: flex;
  max-width: 70%;
  background-color: #1c76fcb5;
}

.received-message p {
  background-color: #3a3a3a78;
}

.sent-message {
  width: 95%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  align-items: center;
}
.message-type-area {
  background-color: #e6e7e8;
  position: sticky;
  bottom: 0;
}
.message-view {
  background-image: url("../../image/message/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 405px) {
  .message-form {
    flex-direction: column;
  }
}
