.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery img {
  width: 100%;
}

.login-main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  box-shadow: 0px 0px 20px 2px #00000099;
  border: 1px solid #0887ee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-direction: column;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.login-form form,
.login-form label,
.login-form span,
.login-form div,
.login-form p,
.login-form svg {
  background-color: transparent;
  color: var(--primary-color);
}
.login-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form input {
  border: 0 solid;
  background-color: #c2dbff;
  border-radius: 5px;
  width: 100%;
  height: 2.5rem;
  padding: 1rem;
  color: var(--primary-color);
}
.login-form input:focus {
  outline: none;
}

.login-form [type="Submit"] {
  /* border-radius: 2rem; */
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form input[type="radio"] {
  border: 1 solid blue;
  background-color: #c2dbff;
  border-radius: 2rem;
  width: 100%;
  height: auto;
  padding: 0;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 9999999999999;
  min-height: 100vh;
  background-color: #3c3c3c6e;
  flex-direction: column;
}
.popup-message {
  padding: 1rem;
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup-inner {
  box-shadow: 0px 0px 12px 7px #18181824;
}
.popup-message p {
  margin: 0;
  color: var(--primary-color);
  background-color: transparent;
}
.profile-complete {
  min-height: 100vh;
}
.upload-profile-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.complete-profile-form input[type="text"] {
  font-size: 1rem;
  border-radius: 2px;
  background-color: #0d6efd3d;
  color: #000000;
}

.complete-profile-form {
  background-color: var(--secondary-color);
  padding: 2rem;
}

.upload-profile-detail label,
.upload-profile-detail span .upload-profile-detail input,
.upload-profile-detail div,
.upload-profile-detail h2 {
  background: transparent;
  color: var(--primary-color);
}

@media screen and (max-width: 400px) {
  .popup-message {
    width: 250px;
  }

  .login-form input {
    width: 100%;
  }
}
