.notification-main {
  border: 1px solid rgba(0, 0, 0, 0.164);
  position: fixed;
  top: 6rem;
  right: 10rem;
  box-shadow: 0px 0px 15px 4px #0000003d;
  z-index: 99999999;
  border-radius: 0.5rem;
  max-width: 35rem;
  height: 85vh;
}
.notifications {
  box-shadow: 0px 0px 12px 5px #00000f1a;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.all-notification {
  position: relative;
  overflow-y: scroll;
}
